@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

:root {
  --clr-green-800: hsl(199, 32%, 15%);
  --clr-green-700: hsl(198, 36%, 18%);
  --clr-green-400: hsl(178, 60%, 48%);
  --clr-green-300: hsl(179, 25%, 69%);
  --clr-orange-400: hsl(39, 88%, 58%);
  --clr-orange-300: hsl(39, 59%, 72%);

  --clr-light-500: hsl(199, 22%, 72%);
  --clr-light-600: rgb(98, 98, 98);

  --ff-base: 'Montserrat', sans-serif;
}

/******reset******/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--ff-base);
  background-color: var(--clr-green-800);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/******utility classes******/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.flow > * + * {
  --_flow-gap: var(--fg, 1rem);
  margin-top: var(--_flow-gap);
}

.repel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: var(--repel-align);
  gap: 1rem;
}

.container {
  width: min(100% - 2rem, 55rem);
  margin-inline: auto;
}

.green-400 {
  color: var(--clr-green-400);
}

.light-500 {
  color: var(--clr-light-500);
}

.orange-400 {
  color: var(--clr-orange-400);
}

.bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.flex-row {
  display: flex;
  gap: var(--flex-row-gap);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/******styling******/
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: 2rem;
  color: var(--clr-green-800);
}

button {
  cursor: pointer;
  border: none;
}

.button-fill {
  background-color: var(--bg-clr);
  color: var(--clr);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.button-fill:hover {
  filter: brightness(1.2);
}

.button-icon {
  background-color: var(--bg-clr);
  color: var(--clr);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.quit {
  --clr: var(--clr-green-800);
  --bg-clr: var(--clr-light-500);
}

.quit:hover {
  filter: brightness(1.2);
}

.reset-game {
  --clr: var(--clr-green-800);
  --bg-clr: var(--clr-orange-400);
}

.reset-game:hover {
  filter: brightness(1.2);
}

section {
  margin-block: 3rem;
}

header {
  --repel-align: center;
  padding-block: 1rem;
}

.current-player {
  color: var(--clr-light-500);
  background-color: var(--clr-green-700);
  font-size: 1.5rem;
  padding: 1rem;

  border-radius: 1rem;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

.game-board {
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 400px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.cell {
  aspect-ratio: 1 / 1;
  width: 100%;
  line-height: 1;
  font-size: 4rem;
  font-weight: bold;
  border: 1px solid black;
  padding: 1rem;
  border: 2px solid var(--clr-light-600);
  border-radius: 10px;
  background-color: var(--clr-green-700);
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.75);
  transition: scale 75ms ease-in-out, background-color 150ms ease-in;
}

@keyframes drop-in {
  0% {
    transform: translateY(0rem);
    filter: brightness(1);
  }

  50% {
    transform: translateY(0.5rem);
    filter: brightness(1.3);
  }

  100% {
    transform: translateY(0rem);
    filter: brightness(1);
  }
}

.cell[data-marker='X']:valid,
.cell[data-marker='O']:valid {
  cursor: auto;
  animation-name: drop-in;
  animation-duration: 400ms;
}

.cell[data-marker='X'] {
  color: var(--clr-green-400);
}

.cell[data-marker='X']::before {
  content: 'X';
}

[data-marker=''][data-currentmarker='X']:hover::before {
  content: 'X';
  color: var(--clr-green-300);
}

.winning-cell-X {
  background-color: var(--clr-green-400);
}

.winning-cell-X::before {
  color: var(--clr-green-800);
}

.cell[data-marker='O'] {
  color: var(--clr-orange-400);
}

.cell[data-marker='O']::before {
  content: 'O';
}

[data-marker=''][data-currentmarker='O']:hover::before {
  content: 'O';
  color: var(--clr-orange-300);
}

.winning-cell-O {
  background-color: var(--clr-orange-400);
}

.winning-cell-O::before {
  color: var(--clr-green-800);
}

.game-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.game-stats > div {
  --_bg-clr: var(--bg, orange);

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 0.25rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-green-800);
  background-color: var(--_bg-clr);
}

.X-stats {
  --bg: var(--clr-green-400);
}

.draw-stats {
  --bg: var(--clr-light-500);
}

.O-stats {
  --bg: var(--clr-orange-400);
}

.player-name {
  font-weight: 400;
  font-size: 1rem;
}

dialog {
  border: none;
}

.end-of-round {
  --fg: 1.5rem;
  --flex-row-gap: 1.5rem;

  background-color: var(--clr-green-700);
  min-width: 100vw;
  padding-block: 3rem;
  font-size: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.end-of-round::backdrop {
  background-color: rgba(0, 0, 0, 0.376);
}

.end-of-round div > p {
  font-size: 1rem;
}

[data-game-winner-name] {
  font-size: 2rem;
  font-weight: bold;
}

.game-start {
  --padding-s: 0.5rem;
  --padding-l: 2rem;

  min-width: 100vw;
  min-height: 100vh;
  font-size: 1rem;
  background-color: var(--clr-green-800);
}

.game-start > form > * + * {
  margin-top: 2rem;
}

.game-start > form {
  --bg-clr: var(--clr-orange-400);
  --clr: var(--clr-green-800);
  --fg: 1.5rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-start .inner-form {
  --flex-row-gap: 1rem;

  color: var(--clr-light-500);
  background-color: var(--clr-green-700);
  padding: var(--padding-l);
  border-radius: 1rem;
  box-shadow: 0px 8px 11px 0px rgba(0, 0, 0, 0.372);
}

.game-start h2 {
  font-size: inherit;
}

.button-toggle {
  --radius: 1rem;

  font-size: 3.5rem;
  font-weight: bold;
  background-color: var(--clr-green-800);
  padding: var(--padding-s);
  border-radius: var(--radius);
}

.button-toggle input[type='radio'] + label {
  cursor: pointer;
  padding: 0rem 4rem;
  border-radius: calc(var(--radius) - var(--padding-s));
}

.button-toggle input[type='radio']:checked + label {
  background-color: var(--clr-light-500);
  color: var(--clr-green-800);
}

.button-toggle input[type='radio']:focus + label {
  outline: 3px solid var(--clr-orange-400);
}
